body {
    display: flex;
    flex-direction: column;

    margin: 0;

    font-family: Roboto, sans-serif;
}



/* header section */
.header {
    background-color: #1f2937;
    flex: 0 0 auto;

    display: flex;
    justify-content: center;
}

.header-content {
    flex: 0 1 70%;

    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.header h1 {
    color: #f9faf8;
    font-size: 24px;;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    gap: 1em;
}
.header a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}



/* footer formatting */
.footer {
    flex: 0 0 auto;

    display: flex;
    justify-content: center;

    padding: 18px;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
}



/* main content container formatting */
.content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}



/* hero formatting */
.hero {
    background-color: #1f2937;
    padding: 100px 32px;
    color: #e5e7eb;

    display: flex;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
}
.hero-text{
    flex: 0 0 516px;
    height: min-content;
}
.hero p {
    font-size: 18px;
    color: #e5e7eb;
}
.hero h2{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
.hero-img-container {
    flex: 0 0 516px;
}
.hero-img-container img {
    width: 100%;
    height: auto;
}



/* testimonials section formatting */
.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
}

.info-card {
    flex: 0 0 200px;

    display: flex;
    flex-direction: column;

    color: hsl(0, 0%, 40%);
    font-weight: 500;
}

.info-card img{
    height: 200px;
    width: 200px;
    border: 4px solid #3882f6;
    border-radius: 16px;
}



/* sign up button generic formatting */
.sign-up {
    font-size: 18px;
    font-weight: bold;
    padding: 8px 32px;
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 8px;
}

/* white border because button is on blue background */
.cta .sign-up{
    border: 2px solid #f9faf8;
}



/* quote section formatting */
.quote-section {
    background-color: #e5e7eb;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.quote {
    color: #1f2937;
    font-size: 32px;
    font-weight: 300;
    font-style: italic;
    margin: 0;
}

.attribution {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    margin: 0;
}

.quote-section div{
    width: 928px;
    flex: 0 1 auto;
}



/* call to action (cta) section formatting */
.cta {
    padding: 0px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cta>div{
    background-color: #3882f6;
    padding: 18px 0;
    border-radius: 16px;


    flex: 0 1 70%;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.cta-text {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}

.cta-text>h2{
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
}

.cta-text>p {
    color: #e5e7eb;
    font-size: 18px;
    max-width: 60ch;
    margin-top: 0;
}

.cta button{
    margin-right: 100px;
    flex: 0 0 auto;
}